body {
  font-size: 10px;

}
* {
  box-sizing: border-box;
  margin: 0;
}
/* this is some styles for input */
input {
  box-shadow: 4px solid orange;
  outline: 5px solid yellow;
}
input::-webkit-file-upload-button {
  appearance: none;
}

